footer#footer.light.narrow
				.footer-copyright
					.container-fluid
						.row
							.col-md-12.center
								p
									strong.text-uppercase Rushelle Kucala
									|  - © Copyright 2017 - All Rights Reserved.