header#header.header-narrow.header-full-width(data-plugin-options="{'stickyEnabled': true, 'stickyEnableOnBoxed': true, 'stickyEnableOnMobile': true, 'stickyStartAt': 0, 'stickySetTop': '0'}")
				.header-body.bg-gradient
					.header-container.container
						.header-row
							.header-column
								.header-logo
									a(href='demo-photography.html')
										img(alt='Porto', width='184', height='48', src='img/proto/demos/photography/logo-photography.png')
							.header-column
								.header-row
									.header-nav
										button.btn.header-btn-collapse-nav(data-toggle='collapse', data-target='.header-nav-main')
											i.fa.fa-bars
										ul.header-social-icons.social-icons.hidden-xs
											li.social-icons-facebook
												a(href='http://www.facebook.com/', target='_blank', title='Facebook')
													i.fa.fa-facebook
											li.social-icons-twitter
												a(href='http://www.twitter.com/', target='_blank', title='Twitter')
													i.fa.fa-twitter
											li.social-icons-instagram
												a(href='http://www.instagram.com/', target='_blank', title='Instagram')
													i.fa.fa-instagram
										.header-nav-main.header-nav-main-effect-1.header-nav-main-sub-effect-1.collapse
											nav
												ul#mainNav.nav.nav-pills
													li.dropdown-full-color.dropdown-primary
														a(href='demo-photography.html')
															| Home
													li.dropdown.dropdown-full-color.dropdown-primary
														a.dropdown-toggle(href='demo-photography-about-me.html')
															| About
														ul.dropdown-menu.custom-dropdown-menu-style-1
															li
																a(href='demo-photography-about-me.html')
																	| About Me
															li
																a(href='demo-photography-about-us.html')
																	| About Us
													li.dropdown.dropdown-full-color.dropdown-primary.active
														a.dropdown-toggle(href='demo-photography-portfolio-stripes.html')
															| Portfolio
														ul.dropdown-menu.custom-dropdown-menu-style-1
															li
																a(href='demo-photography-portfolio-stripes.html')
																	| Stripes
															li
																a(href='demo-photography-portfolio-vertical.html')
																	| Vertical
															li
																a(href='demo-photography-portfolio-parallax.html')
																	| Parallax
															li
																a(href='demo-photography-portfolio-horizontal-scroll.html')
																	| Horizontal Scroll
															li
																a(href='demo-photography-portfolio-full-width-grid.html')
																	| Full Width Grid
															li
																a(href='demo-photography-portfolio-full-width-no-margins.html')
																	| Full Width No Margins
															li
																a(href='demo-photography-portfolio-boxed-grid.html')
																	| Boxed Grid
															li
																a(href='demo-photography-portfolio-infinite-scroll.html')
																	| Infinite Scroll
															li
																a(href='demo-photography-portfolio-ajax-on-page.html')
																	| Ajax On Page
															li
																a(href='demo-photography-portfolio-full-screen.html')
																	| Full Screen
															li
																a(href='demo-photography-portfolio-ken-burns.html')
																	| Ken Burns
															li.dropdown-submenu
																a(href='#')
																	| Portfolio Detail
																ul.dropdown-menu.custom-dropdown-menu-style-1
																	li
																		a(href='demo-photography-portfolio-detail-extended.html')
																			| Extended
																	li
																		a(href='demo-photography-portfolio-detail-slider-with-thumbs.html')
																			| Slider with Thumbs
													li.dropdown-full-color.dropdown-primary
														a(href='demo-photography-blog.html')
															| Blog
													li.dropdown.dropdown-full-color.dropdown-primary
														a.dropdown-toggle(href='demo-photography-contact-me.html')
															| Contact
														ul.dropdown-menu.custom-dropdown-menu-style-1
															li
																a(href='demo-photography-contact-me.html')
																	| Contact Me
															li
																a(href='demo-photography-contact-us.html')
																	| Contact Us