extends /layout
block content
	each post in posts.sort('date', 'desc').slice(0,2)
		.6u
			section.box
				a.image.featured(href=post.permalink)
					img(src= post.banner)
				header
					h3= post.title
					p= "Posted " + dateFormat(post.date, 'LL')
					!= postExcerpt(post.body, 250)
				footer
					ul.actions
						li
							a.button.icon.fa-file-text(href= post.permalink) Continue Reading
