// ---------------
// Axis Settings
// Check here for updates:
// https://github.com/jenius/axis/blob/master/axis/settings.styl
// ---------------

// Font stacks (add your own!)
$helvetica-neue = "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif
$helvetica = "Helvetica Neue", Helvetica, Arial, sans-serif
$georgia = Georgia, Cambria, "Times New Roman", Times, serif
$lucidia-grande = "Lucida Grande", Tahoma, Verdana, Arial, sans-serif
$monospace = unquote("'Bitstream Vera Sans Mono', Consolas, Courier, monospace")
$verdana = Verdana, Geneva, sans-serif
$openSans = "Open Sans", sans-serif
$robotoSlab = "Roboto Slab", serif
$trajan = "trajan-pro-3", serif

// Default font settings
$font-stack = $helvetica-neue
$font-size = 16
$font-color = #555

// Colors (via http://clrs.cc - slightly modded)

$gradient = {
	background: #ef443f
	background: -moz-linear-gradient(50deg, #ef443f 0%, #ce2644 30%, #311a30 100%)
	background: -webkit-linear-gradient(50deg, #ef443f 0%,#ce2644 30%,#311a30 100%)
	background: linear-gradient(50deg, #ef443f 0%,#ce2644 30%,#311a30 100%)
}
$gradientOverlay = {
	background: #ef443f
	background: -moz-linear-gradient(50deg, rgba(239, 68, 63,0.5) 0%, rgba(206, 38, 68, 0.5) 30%, rgba(49, 26, 48, 0.5) 100%)
	background: -webkit-linear-gradient(50deg, rgba(239, 68, 63,0.5) 0%, rgba(206, 38, 68, 0.5) 30%, rgba(49, 26, 48, 0.5) 100%)
	background: linear-gradient(50deg, rgba(239, 68, 63,0.5) 0%, rgba(206, 38, 68, 0.5) 30%, rgba(49, 26, 48, 0.5) 100%)
}

$gradientOverlay2 = {
	background: #ef443f
	background: -moz-linear-gradient(50deg, rgba(239, 68, 63,0.3) 0%, rgba(206, 38, 68, 0.2) 30%, rgba(49, 26, 48, 0.0) 100%)
	background: -webkit-linear-gradient(50deg, rgba(239, 68, 63,0.3) 0%, rgba(206, 38, 68, 0.3) 30%, rgba(49, 26, 48, 0.0) 100%)
	background: linear-gradient(50deg, rgba(239, 68, 63,0.3) 0%, rgba(206, 38, 68, 0.2) 30%, rgba(49, 26, 48, 0.0) 100%)
}


$purple     = #311A30
$violet     = #530F36
$maroon     = #821839
$red        = #CE2644
$orange     = #EF443F

// Default color
$default-color = $blue

// Text highlight color
$highlight-color = $blue

// Custom image base path for axis mixins
$img-path = '/img/'

// Ligatures
$ligatures = false

$default-font = $openSans
